fastapi~=0.103.0
uvicorn~=0.20.0
sqlalchemy~=2.0.30
loguru
psycopg2
pydantic~=2.5.3
catboost~=1.2.3
pandas~=2.2.2
scikit-learn~=1.4.2
seaborn~=0.13.2
matplotlib
numpy~=1.26.4
clearml~=1.16.2
joblib~=1.4.2
starlette~=0.27.0